//Some stuff here is out of BEM because it is used inside WP as helpers or modifiers

.btn {
  @extend %button-reset;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  border: 0px solid;
  cursor: pointer;
  border-radius: 3px;

  transition: {
    property: background-color, color, border-color;
    timing-function: ease-in;
    duration: 0.3s;
  }

  @include button-sizes;
  @include button-colors;

  i {
    margin-right: 12px;
    @include text-size(default);
  }

  &--block {
    display: flex;
  }

  &--get-for-ios {
    margin-right: $base-content-margin;

    &:hover {
      background-color: $base-battleship-color;
    }

  }
  &--unicorn-owners {
    background-color: $base-battleship-color;

    &:hover {
      background-color: $base-rouge-color;
    }
  }
}
