//Some stuff here is out of BEM because it is used inside WP as helpers or modifiers

.btn {
  @extend %button-reset;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 0 solid;
  cursor: pointer;
  border-radius: 3px;

  transition: {
    property: background-color, color, border-color;
    timing-function: ease-in;
    duration: 0.3s;
  }

  @include button-sizes;
  @include button-colors;

  i {
    margin-right: 12px;
    font-size: 19px;
  }

  &--block {
    display: flex;
  }

  &--get-for-ios {
    margin-right: 25px;
    font-size: 14px;

    @include media(tablet down) {
      margin-bottom: 20px;
      margin-right: 0;
    }

    &:hover {
      background-color: $base-battleship-color;
    }

  }
  &--unicorn-owners {
    background-color: $base-battleship-color;
    font-weight: 300;
    text-transform: none;
    font-size: 16px;

    &:hover {
      background-color: $base-primary-color;
    }
  }
  &--load-more {
    padding: 20px 80px;
    text-transform: uppercase;
    border-radius: 0;

    &:hover {
      background-color: $base-dark-color;
    }

    &:disabled,
    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
      box-shadow: none;

    }
  }
}
