.form {
  position: relative;
}

.field {
  padding-bottom: $form-field-spacing;
}

form ::-webkit-input-placeholder {
  color: #828282;
  font-size: 18px;
  font-weight: 300;
}
form :-moz-placeholder {
  color: #828282;
  font-size: 18px;
  font-weight: 300;
}
form ::-moz-placeholder {
  color: #828282;
  font-size: 18px;
  font-weight: 300;
}
form :-ms-input-placeholder {
  color: #828282;
  font-size: 18px;
  font-weight: 300;
}
