.single-post {

  &__image {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include media(mobile down) {
      height: 350px;
    }

    &::before {
      content: '';
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }
  &__title {
    @include text-size(huge);
    line-height: 60px;
    font-weight: 500;
    color: $base-white-color;
    margin-bottom: 28px;
    margin-top: auto;
    z-index: 5;
    position: relative;

    @include media(mobile down) {
      @include text-size(big);
    }
  }
  &__author {
    @include text-size(default);
    font-weight: 500;
    color: $base-white-color;
    z-index: 5;
    position: relative;
    margin: 0;

    i {
      font-size: 23px;
      vertical-align: sub;
      margin-right: 15px;
      color: $base-white-color;
    }
  }
  &__back-to-blog {
    @include text-size(default);
    margin-top: auto;
    margin-bottom: 20px;
    font-weight: 500;
    color: $base-white-color;
    transition: color ease-out 0.2s;
    z-index: 5;
    position: relative;

    &:hover {
      color: $base-primary-color;
      transition: color ease-in 0.2s;
    }
  }
  &__content {
    //@include site-container($max-width: 550px);
    max-width: 560px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    padding: 50px 0;

    @include media(tablet down) {
      padding: 25px 15px;
    }

    p {
      line-height: 30px;
    }
    .wp-caption {
      margin-bottom: 55px;

      @include media(tablet up) {
        margin-left: -35%;
        margin-right: -35%;
        max-width: 950px;
        position: relative;
        width: 100vw;
      }
      @include media(tablet) {
        max-width: 100%;
      }
      @include media(tablet down) {
        max-width: 100%;
        margin-bottom: 25px;
      }

    }
    .wp-caption-text {
      @include text-size(medium);
      color: $base-light-gray-color;
      text-align: center;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  ul.single-post__tags {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 0 2px 0;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;


    li {
      margin-right: 8px;
      margin-bottom: 8px;
      display: inline-block;
      padding: 0;

      a {
        @include text-size(small);
        background-color: $base-whild-sand-color;
        color: $base-light-gray-color;
        line-height: 1.1;
        font-weight: 700;
        vertical-align: middle;
        padding: 5px 8px;
        text-align: center;
        border-radius: 3px;
        transition: all ease 0.3s;
      }
      a:hover {
        color: $base-primary-color;
        background-color: lighten($base-primary-color, 25%);
        transition: all ease 0.3s;
      }
    }
  }
  .content {
    &__quote {
      font-size: 30px;
      line-height: 45px;
      font-style: normal;
      text-align: center;
      color: $base-primary-color;
      background-color: $base-white-color;
      font-weight: 300;
      padding: 50px 70px;
      quotes: '“' '”' '‘' '’';

      @include media(tablet down) {
        padding: 30px 50px;
      }

      &.align--left {
        margin-left: -50%;
        max-width: 100%;
        width: 100%;
        clear: left;
        float: left;

        @include media(desktop down) {
          margin-left: 0%;
        }
      }
      &.align--right {
        margin-right: -50%;
        max-width: 100%;
        width: 100%;
        clear: right;
        float: right;

        @include media(desktop down) {
          margin-right: 0%;
        }
      }
      before {
          content: open-quote;
      }
      after {
          content: close-quote;
      }
    }
  }

  .video {

    &__container {
      margin-bottom: 15px;

      @include media(desktop up) {
        margin-left: -35%;
        margin-right: -35%;
        max-width: 950px;
        position: relative;
        width: 100vw;
        padding-bottom: 100%;
      }
    }

    &__title {
      @include text-size(medium);
      color: $base-light-gray-color;
      text-align: center;
      margin-bottom: 55px;

      @include media(desktop up) {
          margin-bottom: 25px;
      }
    }
  }
}


