.header {

  &__container {
    @include site-container();
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row;
    padding: 30px 15px;
  }

    &__logo-link {
      margin-right: 0;
      max-width: 175px;
    }
}
