
.icon-ic-apple {
  &::before {
    content: $icon-ic-apple;
    color: #FFFFFF;
  }
}
.icon-ic-comment {
  &::before {
    content: $icon-ic-comment;
    color: #999999;
  }
}
.icon-ic-facebook {
  &::before {
    content: $icon-ic-facebook;
    color: #DD4BA3;
  }
}
.icon-ic-heart {
  &::before {
    content: $icon-ic-heart;
    color: #999999;
  }
}
.icon-ic-instagram {
  &::before {
    content: $icon-ic-instagram;
    color: #DD4BA3;
  }
}
.icon-ic-play {
  &::before {
    content: $icon-ic-play;
    color: #FFFFFF;
  }
}
.icon-ic-search {
  &::before {
    content: $icon-ic-search;
    color: #555555;
  }
}
.icon-ic-twitter {
  &::before {
    content: $icon-ic-twitter;
    color: #DD4BA3;
  }
}
.icon-ic-unicorn {
  &::before {
    content: $icon-ic-unicorn;
    color: #FFFFFF;
  }
}
.icon-ic-writer {
  &::before {
    content: $icon-ic-writer;
    color: #FFFFFF;
  }
}

