
.icon-ic-apple {
  &:before {
    content: $icon-ic-apple;
    color: #fff;
  }
}
.icon-ic-comment {
  &:before {
    content: $icon-ic-comment;
    color: #999;
  }
}
.icon-ic-facebook {
  &:before {
    content: $icon-ic-facebook;
    color: #dd4ba3;
  }
}
.icon-ic-heart {
  &:before {
    content: $icon-ic-heart;
    color: #999;
  }
}
.icon-ic-instagram {
  &:before {
    content: $icon-ic-instagram;
    color: #dd4ba3;
  }
}
.icon-ic-play {
  &:before {
    content: $icon-ic-play;
    color: #fff;
  }
}
.icon-ic-search {
  &:before {
    content: $icon-ic-search;
    color: #555;
  }
}
.icon-ic-twitter {
  &:before {
    content: $icon-ic-twitter;
    color: #dd4ba3;
  }
}
.icon-ic-unicorn {
  &:before {
    content: $icon-ic-unicorn;
    color: #fff;
  }
}
.icon-ic-writer {
  &:before {
    content: $icon-ic-writer;
    color: #fff;
  }
}

