$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-ic-apple: '\e900';
$icon-ic-comment: '\e901';
$icon-ic-facebook: '\e902';
$icon-ic-heart: '\e903';
$icon-ic-instagram: '\e904';
$icon-ic-play: '\e905';
$icon-ic-search: '\e906';
$icon-ic-twitter: '\e907';
$icon-ic-unicorn: '\e908';
$icon-ic-writer: '\e909';

